
body{
	background-color:black;
	color:white;

}
h1{
	border-radius: 20px;
    border:5px solid rgb(240, 237, 237);
	font-size:25px;
	padding-left:20px;
	padding-right:20px;
   width:200px;
}
ul{
    float: left;
}
ul li {
    list-style-type: none;
     margin: 10px;
    padding: 10px;
	font-size:15px;
}
ul li a {
    text-decoration: none;
    color: rgb(250, 252, 250);
    border-radius: 20px;
    border: solid rgb(240, 237, 237);
    padding: 2px;	
}
ul li a:hover{
    background-color:bisque;
    color:black;
}
#head{
	width:200px;
	border:5px solid white;
	margin:20px;
	padding-right:500px;
	padding-left:500px;
	margin-top:10px;
	margin-left:120px;
}
img{
	width:130px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:5px solid white;
}
p{
	font-size:20px;

	
}	

a {
    text-decoration: none;
    color: rgb(250, 252, 250);
    border-radius: 20px;
    border: solid rgb(240, 237, 237);
    padding: 2px;	
}
